body{
    background: linear-gradient( rgb(98, 37, 240),rgb(15, 190, 129));
    display: flex;
    justify-content: center;
    align-content: center;
}
h1{
    color: aliceblue;
    text-align: center;
    color: aliceblue;
}

.titulo{
    height: 100px;
    width: 200px;
    border: 5px solid white;
    border-radius: 10px;
}